{% assign location = page.url | downcase | remove_first: "/" | split: "/" | first %}
<nav class="navbar fixed-top navbar-expand-lg d-print-none">
  <div class="container-fluid">

    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/img/logo.svg' | relative_url }}" alt="Logo" width="30" height="30"
        class="d-inline-block align-text-top">
      Martin Groeneveld
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ml-auto small font-weight-bold">
        <a class="nav-link{% if location == nil or location == 'articles' %} active{% endif %}" href="{{ '/' |
          relative_url }}">Articles</a>
        <a class="nav-link{% if location == 'about' %} active{% endif %}" href="{{ '/about' | relative_url
          }}">About</a>
      </div>
    </div>

    <progress id="reading-progress" class="progress" value="0" max="100">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>

  </div>
</nav>
